.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 2.5rem;

}

.name{
    padding: 1.5rem 1.5rem 0.5rem;
    text-transform: uppercase;

    text-align: center;

    font-size: 1em;
}

.prf{
    padding: 0 1.5rem 1.5rem;
    text-transform: uppercase;

    text-align: center;
    font-weight: lighter;

    letter-spacing: 1rem;

    font-size: 0.6em;
}