.post {
    display: flex;
    width: 100%;
    height: auto;

    margin: 5rem 0;

    flex-wrap: wrap;
    justify-content: center;
} 

.content{
    padding: 0 3rem;
    width: 100%;
    max-width: 425px;
}

.text-container{
    color: var(--main-color);
    font-size: 1.2rem;

    margin: 2rem 0;
}

.text-container>*{
    margin: 1rem 0;
    text-align: justify;
}

.content>figure{
    width: 100%;
    height: 200px;
}

.content>figure>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel{
    padding: 0 2rem;
    width: 100%;
    max-width: 425px;
}

.carousel-img{
    width: 100%;
    height: 600px;
}

.carousel-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}