.menu {
    width: 50%;
    max-width: 770px;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.menu>a{
    display: inline-block;
    padding: 1rem;

    font-weight: bold;
    font-size: var(--nav-bar-link);

    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;

    transition: ease-in-out all 250ms;
}

.menu>a:hover{
    transform: scale(1.1);
}

.menu>a:visited, .menu>a:active {
    text-decoration: none;
} 

.menu>a:active{
    color: var(--active-color);
}