.navbar{
    width: 100%;
    display: flex;

    padding: 1rem 3rem;
}

.logoContainer{
    width: 96px;
    height: 96px;

    margin-right: 5rem;
}

.logoContainer>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.links {
    flex: 1 0;
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;

    font-weight: bold;

}

.links>a {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--main-color);

    transition: ease-in-out all 250ms;
}

.links>a:hover{
    transform: scale(1.1);
}

.links>a.active{
    color: var(--active-color);
    text-decoration: underline;
}