.container{
    padding: 1rem;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.container>article{
    width: 85%;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.container>article>div{
    width: 50%;
}

.container>article>div h3{
    margin: 1rem 0;

    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-transform: uppercase;

    color: var(--main-color);
}

.container>article>div p{
    text-align: justify;
}