.notFound{
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound>h1{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main-color);
    font-size: 2rem;
}

.notFound span{
    padding: 1rem;
    
    color: crimson;
    font-size: 1.5em;
}