@import './_fonts.css';

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: "Pluto", sans-serif;
    --main-color: #72509B;
    --active-color: #EF7DAC;
    --main-color-alpha: #72509b88;
    --active-color-alpha: #EF7DAC88;
    --main-title-color: #9f89bb;
    
    --title-size: 4.5rem; 
    --subtitle-size: 1.7rem; 
    --nav-bar-link: 1.6rem;
    --nav-bar-pad: 1rem 3rem;
    --logo-nav-space: 5rem;
}

@media screen and (max-width: 640px){
    :root{
        --title-size: 3rem;
        --subtitle-size: 1rem; 
        --nav-bar-link: 1rem;
        --nav-bar-pad: 0.5rem 1rem;
        --logo-nav-space: 2rem;
    }
}

.slide{
    background-color: transparent!important;
}

.thumbs{
    display: flex;
    justify-content: center;
}